.movies {
    color:indigo;
    font-size: 1.5vw;
}

h3{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:teal;
    text-decoration: underline;
}