h3 {
   text-align: center;
   text-decoration: underline;
}

.p-style{
   text-align:right;
   color:darkorange;
}

.skills {
   color: green;
}

.ol-style {
   color: black;
   text-align: center;
   list-style-type: upper-roman;
}